.grid
  position: relative
  display: flex
  flex-wrap: wrap
  height: 300px
  width: 300px
  background: #ccc

.path
  position: absolute
  top: 0
  left: 0
  z-index: 1
  transform: translate(25px, 25px)
  pointer-events: none

