.list
  position: absolute
  top: 0
  right: 10px
  max-height: 100vh
  overflow-y: scroll

.listItem
  display: block
  padding: 10px
  min-width: 200px
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1)
  margin-top: 10px
  font-family: 'Helvetica Neue', sans-serif
  cursor: pointer
  transition: all 0.2s
  &:hover
    box-shadow: 2px 2px 9px rgba(0,0,0,0.2)
